.main-tilte {
    text-align: center;
}

.main-table {
    width: 80%;
    margin: 0 auto;
}

.tasks-form {
    width: 80%;
    margin: 0 auto;
}

.container-fixing {
    margin-top: 100px;
}

.btn-tags-fix {
    margin: 5px;
}
